@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*.container{
    max-width: 1080px;
    justify-content: center;
    align-items: center;
}*/
body{
    margin:0;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    text-align: center;
    min-height: 100vh;
}

/* Menu do desktop em forma de barra fixa no topo - Início */
header .navbar{
    display: flex;
    flex-flow: row wrap;
    height: 120px;
    top: 0;
    background: #f0b256;
    justify-content: center;
    align-items: center;
    position:fixed;
    width: 100%;
}
/* Logo nominativa Pão de Queijo da Irá - Inicio */
header .logo{
    flex:28%;
    margin-left:8%;
    text-align: left;
}
header .logo h1{
    font-family: 'Lobster', cursive;
    color:#895013;
    font-size:34px;
}
header .logo h1 a{
    color:#895013;
    text-decoration: none;
}
/* Logo nominativa Pão de Queijo da Irá - Final */

/* Menu para Computador - Inicio */
header .menu-desktop{
    flex:58%;
    text-align:right;
    padding:4%;
}

header .menu-desktop a:hover{
    color: white;
    text-decoration: solid;
    transition: .2s;;
}

header .menu-desktop nav a{
    color:#895013;
    text-decoration: none;
    font-size:20px;
    padding-inline:7px; 
    position: relative;
}
/* Menu para Computador - Final */

/* Barra animada sobre Menu para Computador - Início */
header .menu-desktop nav a::after{
    content: " ";
    width: 0px;
    height: 4px;
    background-image: linear-gradient(45deg, white, #895013);
    position: absolute;
    top: -5px;
    left: 0;
    transition: width 0.5s;
}
header .menu-desktop nav a:hover::after{
    width: 100%;
}
/* Barra animada sobre Menu para Computador - Final */
/* Menu do desktop em forma de barra fixa no topo - Final */

/* Menu para smartphone - Início */
.menu-mobile{
    display: none;
}
.menu-mobile{
    display: block;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-around;
    gap: 0;
    background-color: #0000002c;
    backdrop-filter: blur(25px);
    position: absolute;
    top: 100px;
    text-align:left;
    padding: 70px 20px 70px 20px;
    font-size: 30pt;
    width: 100%;
    height: 45pt;
    visibility: hidden;
    transition: .5s;
    overflow: hidden;
}
.menu-mobile nav a{
    color:white;
    text-decoration: none;
}
.menu-mobile nav a:hover{
    background-color: #0000002c;
    color:whitesmoke;
    text-decoration: none;
    font-size: 32pt;
    width: 100%;
    height: 20pt;
    cursor: pointer;
}
/* Menu para smartphone - Final */

/* Botão Menu Hamburguer para Smartphone - Início */
#btn-menu{
    background: transparent;
    width: 50px;
    height: 50px;
    outline: none;
    cursor: pointer;
    border: 2px solid #00000080;
    border-radius: 30px;
    transition: .2s;
    display: none;
}
.linha{
    position: relative;
    height: 3px;
    background: #00000080;
    width: 25px;
    display: block;
    margin: 5px auto 5px;
    transform-origin: center;
    transition: .2s;
}
#btn-menu.ativo .linha:nth-child(1){
    transform: translateY(8px) rotate(-45deg);
    background-color: red;
}
#btn-menu.ativo .linha:nth-child(3){
    transform: translateY(-8px) rotate(45deg);
    background-color: red;
}
#btn-menu.ativo .linha:nth-child(2){
    width: 0;
}
/* Botão Menu Hamburguer para Smartphone - Final */

/* Sessão de Chamada pra Ação - Início */
section .header{
    display: flex;
    flex-flow:row wrap;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(45deg, white, #895013);
    padding-top:100px;
}

article .headline{
    margin-left:10%;
    flex:40%;
}
.headline h2{
    font-weight: 900;
    font-size:20px;
    color:#f0b256;
    padding:0;
    margin:0;
}
.headline p{
    color:black;
    text-align:center;
}
.span1{
    font-family: 'Lobster', cursive;
    font-weight: 900;
    font-size:20px;
    letter-spacing: 15px;
    color:#f0b256;
}
.span2{
    font-family: 'Lobster', cursive;
    font-weight: 900;
    font-size:50px;
    text-align: center;
    color:#f0b256;
}
.headline-text{
    font-family: 'Roboto', sans-serif;
    font-size: 14pt;
    color:black;
    margin-left:5%;
    display: flex;
    flex:35%;
}
.headline-img{
    margin-right:5%;
    max-width: 96%;
    display: flex;
    flex:35%;
    text-align:center;
}
.span3{
    margin-left:5%;
    margin-right:5%;
    font-family: 'Roboto', sans-serif;
    font-size:14px;
    color:black;
    text-align: justify;
    padding-block: 5%;
}
.contact-btn{
    display: inline-block;
    background-image: linear-gradient(45deg, white, #895013, #f0b256);
    padding:20px;
    color:white;
    border-radius:5px;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
    border-radius: 20px;
    transition: .2s;
    padding:10px 40px 20px 40px;
    font-family: 'Roboto', sans-serif;
}
.contact-btn:hover{
    background-image: linear-gradient(45deg, white, #895013, #f0b256);
    font-size: 22px;
    font-weight: bold;
    border-radius: 20px;
    transition: .2s;
    padding:10px 40px 20px 40px;
    font-family: 'Roboto', sans-serif;
}

section{
    display: inline-block;
    margin-top:80px;
    margin-left:5%;
    margin-right:5%;
    padding:5%;
    text-align: center;
}
section h2{
    width:100%;
    font-size:50px;
    margin:0;
    font-family: 'Lobster', cursive;
    font-weight: bold;
    color:#895013;
}
section h3{
    width:100%;
    font-size:22px;
    margin:0;
    font-family: 'Lobster', cursive;
    font-weight: bold;
    color:#895013;
}
section h3 a{
    color:white;
    text-decoration: none;
}
.span4{
    font-family: 'Lobster', cursive;
    font-size:14px;
    color:#895013;
    font-weight: 900;
    font-size:50px;
    text-align: center;
    padding: 5%;
}
.servicos{
    display: inline-block;
    margin-top:5%;
}
.servicos a{
    text-decoration: none;
    color:white;
}

.promocao{
    font-family: 'Lobster', cursive;
    margin-top:40px;
    margin-left:5%;
    margin-right:5%;
    padding:15px;
    text-align: left;
    font-size:22px;
    color:white;
    background: #f0b256;
}
.promocao li a{
    color:white;
    text-decoration: none;
    background: #f0b256;
    text-align: left;
    transition: ease-in-out .5s;
}
.promocao-btn a{
    text-align: center;
	background: white;
    color:#895013;
    margin-left:1%;
    margin-right:1%;
    font-size:20px;
    cursor: pointer;
    border-radius: 20px;
    padding:10px 40px 20px 40px;
    font-family: 'Roboto', sans-serif;
}
.promocao-btn a:hover{
	background-color:#895013;
    color: white;
    margin-left:5%;
    margin-right:5%;
    text-align: center;
    font-size:22px;
    cursor: pointer;
    border-radius: 20px;
    transition: .2s;
    padding:11px 40px 20px 40px;
    font-family: 'Roboto', sans-serif;
}
.span5{
    text-align: center;
    cursor: pointer;
}
.card{
    display: inline-block;
    width: 30%;
    padding:20px;
    margin:1%;
    border:1px solid #895013;
    border-radius:10px;
    cursor:pointer;
}
.card:hover{
    background: #895013;
    color:white;
    padding:40px;
}
.card:hover img{
    display: none;
}
.card:hover .card-text{
    display:none;
}
.card:hover .texto-oculto{
    display:block;
}
.card:hover .texto-oculto img{
    display:block;
}
.texto-oculto{
    display: none;
}

footer{
    margin-top:10px;
    height: 450px;
    background-image:linear-gradient(180deg,#895013,#895013,black);
    text-align:center;
    text-decoration: none;
    color: white;
}
.rodape-turma{
    margin-top: 10px;
    margin-right:10%;
    margin-left:10%;
    letter-spacing: 3px;
    font-family: 'Lobster', cursive;
    font-size: 20px;
    background-color: #073763;
    padding:5px 10px 5px 10px;

}
.rodape-turma a{
    color:white;
    text-decoration: none;
}
.rodape-text{
    margin-top:12px;
    margin-right:10%;
    margin-left:10%;
    font-size:18px;
    flex:50%;
    width: 75%;
}
.rodape-img img{
    margin-top: 8px;
    margin-right:10%;
    margin-left:10%;
    width: auto;
    max-width: 250px;
}
/* Início do Efeito Flutuante do Botão Whatsapp */
.whats {
    position: fixed;
    bottom: 5px;
    right: 25px;
    max-width: 250px;
    transform: translateY(0);
    animation: float 5s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-50px);
    }
    100% {
        transform: translateY(0px);
    }
}
/* Final do Efeito Flutuante do Botão Whatsapp */
/*             
<div class="sociais">
    <nav>
        <a href="https://www.google.com/url?q=https%3A%2F%2Fwww.instagram.com%2Fpao.de.queijo.da.ira%3Figshid%3DYmMyMTA2M2Y%253D&sa=D&sntz=1&usg=AOvVaw3eagFYtoyiTjSr50rp51B7" target="_blank"><img src="img/instagram.png" alt="instagram"></a>
        <a href="https://www.youtube.com/@paodequeijodaira" target="_blank"><img src="img/youtube.png" alt="youtube"></a>
        <a href="https://www.google.com/maps/place//data=!4m2!3m1!1s0x93598532427ada55:0xedc9803f892654af?utm_source=mstt_1&entry=gps" target="_blank"><img src="img/googlemap.png" alt="googlemap"></a>
    </nav>
</div>
*/
/* Botões do Bootstrap
<i class="bi bi-whatsapp"></i>
<i class="bi bi-instagram"></i>
<i class="bi bi-youtube"></i>
<i class="bi bi-geo-alt-fill"></i>
*/