@media screen and (max-width: 1256px) {

    .menu-desktop, .sociais {
        display: none;
    }
    #btn-menu{
        display: block;
        cursor: pointer;
    }
    .menu-mobile .nav a{
        cursor: pointer;
	    flex-direction: column;
        justify-content: space-around;
        gap: 0;
        text-align:center;
        color: rgb(131, 91, 91);
        text-decoration: none;
        padding: 70px 20px 70px 20px;
        font-size: 26pt;
    }
    .menu-mobile .nav a:hover{
        cursor: pointer;
        color:#895013;
        background-color: #000000ce;
        font-size: 30pt;
    }
    .logo{
        margin:0;
        width: 100%;
        text-align:center;
    }
    .menu-mobile.abrir{
        visibility: visible;
        height: calc(90vh - 50px);
    }

    .headline{
        flex:100%;
        margin:5%;
        text-align:center;
    }
    .headline p{
        text-align:center;
    }
    .headline-img{
        flex:100%;
        margin:5%;
        text-align:center;
    }
    .card{
        width:100%;
    }
    .whats{
        display: block;
    }
}