@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lobster&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root,
:root[data-theme='dark'] {
    --primary-color: #FFFFFF;

    --primary-bg-color: #28292E;
    --secondary-bg-color: #F0F0F0;

    --primary-border-color: #28292E;
    --secondary-border-color: #56575A;

    --title-color-palete1: #9A9A9C;
    --title-color-palete2: green;

    --text-color-palete1: #FFFFFF;
    --text-color-palete2: green;

    --link-color: #C7C8C9;
    --icon-color: #9A9A9C;
}

:root[data-theme='light'] {
    --primary-color: #FFFFFF;

    --background-bg-color1: #f0b256;
    --background-bg-color2: #895013;
    --background-bg-color3: #f0b256cd;

    --primary-border-color: #895013;
    --secondary-border-color: #f0b256;

    --title-color-palete1: #895013;
    --title-color-palete2: #f0b256;
    --title-color-palete3: #FFFFFF;

    --text-color-palete1: #895013;
    --text-color-palete2: #f0b256;
    --text-color-palete3: #FFFFFF;

    --link-color: #f0b256;
    --icon-color: #f0b256;
}

html[data-theme='light'] .brand__logo {
    filter: invert(1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    list-style: none;
    scrollbar-width: thin;
    scrollbar-color: var(--background-bg-color2) transparent;
}

body {
    background: var(--primary-color);
    font-family: 'Inter', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-color-palete1);
    width: 100%;
    text-align: center;
    min-height: 100vh;
}

::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--background-bg-color2);
    border-radius: 50rem;
}

a {
    text-decoration: none;
    color: var(--text-color-palete1);
}

a:hover {
    color: var(--text-color-palete1);
}

/* Menu do desktop em forma de barra fixa no topo - Início */
header .navbar {
    display: flex;
    flex-flow: row wrap;
    height: 90px;
    top: 0;
    background: var(--background-bg-color1);
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
}

/* Logo nominativa Pão de Queijo da Irá - Inicio */
header .logo {
    flex: 10%;
    margin-left: 3%;
    width: 100%;
    text-align: left;
    background: var(--background-bg-color1);
}

header .logo h1 {
    font-family: 'Lobster', cursive;
    width: 90%;
    color: var(--title-color-palete1);
    font-size: 1.6rem;
}

header .logo h1 a {
    color: var(--title-color-palete1);
    text-decoration: none;
}

/* Logo nominativa Pão de Queijo da Irá - Final */
/* Menu para Computador - Inicio */
header .menu-desktop {
    flex: 58%;
    margin-left: 5%;
    text-align: right;
    padding: 1% 3% 2%;
    line-height: 1.9rem;
}

header .menu-desktop a:hover {
    color: var(--text-color-palete3);
    text-decoration: solid;
    transition: .2s;
    background-color: #895013cd;
    border-radius: 40px;
    padding: 0.6% 0.9%;
}

header .menu-desktop nav a {
    color: var(--text-color-palete3);
    text-decoration: none;
    font-size: 20px;
    padding-inline: 7px;
    position: relative;
}

/* Menu para Computador - Final */
/* Barra animada sobre Menu para Computador - Início */
/*  header .menu-desktop nav a::after {
    content: " ";
    width: 0px;
    height: 4px;
    background-image: linear-gradient(45deg, white, #895013);
    position: absolute;
    top: -5px;
    left: 0;
    transition: width 0.5s;
}

header .menu-desktop nav a:hover::after {
    width: 100%;
}

/* Barra animada sobre Menu para Computador - Final */
/* Menu do desktop em forma de barra fixa no topo - Final */
/* Menu para smartphone - Início */
.menu-mobile {
    display: none;
}

.menu-mobile {
    display: block;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-around;
    gap: 0;
    background-color: #0000002c;
    backdrop-filter: blur(25px);
    position: fixed;
    text-align: left;
    padding: 2% 5%;
    top: 90px;
    line-height: 2.5rem;
    font-size: 20pt;
    width: 100%;
    height: 18pt;
    visibility: hidden;
    transition: .5s;
    overflow: hidden;
}

.menu-mobile a:hover {
    padding: 0.5% 5%;
}

.menu-mobile nav a {
    color: var(--text-color-palete3);
    text-decoration: none;
}

.menu-mobile nav a:hover {
    background-color: #0000002c;
    color: var(--text-color-palete3);
    text-decoration: none;
    font-size: 22pt;
    width: 100%;
    height: 20pt;
    cursor: pointer;
}

/* Menu para smartphone - Final */
/* Botão Menu Hamburguer para Smartphone - Início */
#btn-menu {
    position: fixed;
    top: 20px;
    right: 6%;
    background: transparent;
    width: 54px;
    height: 50px;
    outline: none;
    cursor: pointer;
    border: 2px solid #895013;
    border-radius: 30px;
    transition: .2s;
    display: none;
}

.linha {
    position: relative;
    height: 3px;
    background: #895013;
    width: 25px;
    display: block;
    margin: 5px auto 5px;
    transform-origin: center;
    transition: .2s;
}

#btn-menu.ativo .linha:nth-child(1) {
    transform: translateY(8px) rotate(-45deg);
    background-color: #FFFFFF;
}

#btn-menu.ativo .linha:nth-child(3) {
    transform: translateY(-8px) rotate(45deg);
    background-color: #FFFFFF;
}

#btn-menu.ativo .linha:nth-child(2) {
    width: 0;
}

/*.header__toggle {
  display: flex;
  justify-content: flex-end;
  margin-right: 20%;
  font-size: 20px;
}*/

/* Botão Menu Hamburguer para Smartphone - Final */
/* Sessão de Chamada pra Ação - Início */
section .header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(45deg, var(--background-bg-color3), var(--background-bg-color2));
    padding-top: 100px;
}

picture img {
    margin: center;
    padding: 1%;
}

article .headline {
    margin-left: 10%;
    margin-right: 10%;

}

.headline h2 {
    font-weight: 900;
    font-size: 20px;
    color: var(--text-color-palete3);
    padding: 0;
    margin: 0;
}

.headline p {
    color: black;
    margin-top: 10%;
    text-align: center;
}

.span2 {
    font-family: 'Lobster', cursive;
    font-weight: 800;
    font-size: 50px;
    text-align: center;
    color: var(--title-color-palete2);
    width: 100%;
}

.headline-text {
    font-family: 'Roboto', sans-serif;
    font-size: 14pt;
    color: black;
    margin-top: 30%;
    margin-left: 5%;
    display: flex;
    flex: 35%;
}

.headline-img {
    margin-right: 5%;
    max-width: 96%;
    display: flex;
    flex: 35%;
    text-align: center;
}

figcaption p {
    margin: 1% 5%;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: black;
    text-align: center;
    line-height: 20px;
    padding: 0 2%;
}

.contact-btn {
    display: inline-block;
    margin: 3% 5% 3% 5%;
    padding: 5%;
    color: var(--text-color-palete3);
    border-radius: 3%;
    border-color: var(--secondary-bg-color);
    text-decoration: none;
    text-align: center;
    line-height: 15%;
    font-size: 1.5rem;
    transition: .2s;
}

.contact-btn:hover {
    color: var(--text-color-palete2);
    font-weight: bold;
}

main {
    padding: 25%;
    text-align: center;
    padding: 3rem 2rem;
    margin: 5% auto;
    max-width: 1200px;
}

section {
    display: inline-block;
    text-align: center;
    padding: 1rem 0 1rem 0;
    margin: 0 auto;
    max-width: 1200px;
}

section span3 {
    width: 100%;
    font-size: 20px;
    line-height: 60px;
    font-family: 'Lobster', cursive;
    color: var(--text-color-palete2);
}

section span3 a {
    color: var(--text-color-palete1);
    text-decoration: none;
}

.span3 {
    font-family: 'Lobster', cursive;
    font-weight: 800;
    font-size: 30px;
    text-align: center;
    color: var(--title-color-palete1);
    width: 100%;
}

section button {
    font-weight: 400;
    font-size: 1.5rem;
    padding: 2% 3% 2% 3%;
    margin: 4% 1.5% 4% 1.5%;
    border-radius: 40px;
    border: var(--background-bg-color1);
    cursor: pointer;
    background: var(--background-bg-color3);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

section button:hover {
    background-color: rgb(223, 209, 190);
}

#home {
    width: 100%;
    padding: 5% 0 1% 0;
    background: var(--primary-color);
    display: inline-block;
    align-items: center;
    text-align: center;
    text-decoration: none;
}

#funcionamento, #garanta-seu-desconto {
    width: 100%;
    padding: 6% 0 1% 0;
    background: var(--background-bg-color3);
}

#nossos-destaques {
    width: 100%;
    padding: 6% 0 1% 0;
    background: var(--primary-color);
}

#nosso-porque, #detalhes-da-entrega {
    width: 100%;
    padding: 9% 0;
    background: var(--primary-color);
}

#funcionamento, #garanta-seu-desconto, #nossos-destaques p {
    line-height: 35px;
    padding: 7% 2% 1%;
}

#detalhes-da-entrega p, #nosso-porque p {
    line-height: 10px;
    padding: 3% 2% 1%;
}

.span4 {
    font-family: 'Lobster', cursive;
    font-size: 14px;
    color: var(--text-color-palete1);
    font-weight: 900;
    font-size: 50px;
    text-align: center;
    padding: 4% 0;
}

.servicos {
    display: inline-block;
    margin-top: 5%;
}

.servicos a {
    text-decoration: none;
    color: var(--text-color-palete3);
}

.text-info {
    display: inline-block;
    width: 100%;
    padding: 5%;
    margin: 3% 0;
    border: 0.5px solid #895013;
    border-radius: 10px;
    cursor: pointer;
}

.text-info a {
    text-decoration: none;
}

.box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 4fr));
}

.menu .box-container .box {
    text-align: center;
    background-color: var(--background-bg-color3);
    padding: 1rem;
    border: 0.5px solid var(--background-bg-color2);
    border-radius: 20px;
    background: transparent;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.menu .box-container .box:hover {
    background: var(--background-bg-color2);
}

.menu .box-container .box img {
    height: 10rem;
    max-width: 16.5rem;
    overflow: hidden;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.menu .box-container .box .span3 {
    border: var(--background-bg-color2);
    font-size: 1.5rem;
    padding: 2rem;
}

section .menu .box p {
    font-size: 1.5rem;
    padding: 3rem;
    line-height: 20px;
}

.menu .box-container .box .price {
    color: var(--text-color-palete2);
    font-size: 2rem;
    padding: 0.5rem 0;

}

.menu .box-container .box .price span {
    font-size: 1rem;
    text-decoration: line-through;
    font-weight: lighter;
    border: var(--background-bg-color2);
}

.menu .box-container .box:hover>* {
    color: var(--text-color-palete2);
}

.menu .box-container .box:hover a {
    color: var(--text-color-palete3);
    border: 1px solid var(--text-color-palete2);
    border-radius: 5%;
    padding: 8%;
}

.menu .box-container .box:hover .span3 {
    color: var(--text-color-1);
}

footer {
    margin-top: 10px;
    height: 450px;
    background-image: linear-gradient(180deg, #895013, #895013, black);
    text-align: center;
    text-decoration: none;
    color: var(--text-color-palete3);
}

.rodape-turma {
    letter-spacing: 3px;
    font-family: 'Lobster', cursive;
    font-size: 20px;
    background-color: #073763;
    padding: 1rem 0.5rem;
}

.rodape-turma a {
    color: var(--text-color-palete3);
    text-decoration: none;
}

.rodape-text {
    size: 31rem;
    margin-top: 12px;
    margin-right: 10%;
    margin-left: 10%;
    font-size: 18px;
    flex: 50%;
    width: 75%;
}

.rodape-img img {
    margin-top: 8px;
    margin-right: 10%;
    margin-left: 10%;
    width: auto;
    max-width: 250px;
}

/* Início do Efeito Flutuante do Botão Whatsapp */
.whats {
    position: fixed;
    bottom: 3%;
    right: 6%;
    max-width: 250px;
    transform: translateY(0);
    animation: float 5s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-50px);
    }

    100% {
        transform: translateY(0px);
    }
}

footer .bot {
    text-align: right;
    line-height: 40%;
    font-size: 20px;
    color: var(--text-color-palete2);
}

.bot a {
    padding: 1%;
    font-size: 50px;
}

/* RESPONSIVO */
@media screen and (max-width: 1055px) {

    .menu-desktop,
    .sociais {
        display: none;
    }

    main {
        margin: 20% auto;
    }
    .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    }
    #btn-menu {
        display: block;
        cursor: pointer;
    }
    .menu-mobile .nav a {
        cursor: pointer;
        flex-direction: column;
        justify-content: space-around;
        gap: 0;
        text-align: center;
        color: rgb(131, 91, 91);
        text-decoration: none;
        padding: 70px 20px 70px 20px;
        font-size: 26pt;
    }
    .menu-mobile .nav a:hover {
        cursor: pointer;
        color: #895013;
        background-color: #000000ce;
        font-size: 30pt;
    }
    .logo {
        margin: 0;
        width: 100%;
        text-align: center;
    }
    .menu-mobile.abrir {
        visibility: visible;
        height: calc(90vh - 50px);
    }
    .headline {
        flex: 100%;
        margin: 5%;
        text-align: center;
    }
    .headline p {
        text-align: center;
        margin-top: 25%;
    }
    .headline-img {
        flex: 100%;
        margin: 5%;
        text-align: center;
    }
    .card {
        width: 100%;
    }
    .whats {
        display: block;
    }
    #funcionamento, #garanta-seu-desconto {
    padding: 22% 2% 1%;        
    }
    #detalhes-da-entrega, #nosso-porque, #nossos-destaques {
    padding: 19% 2% 8%;
    }
    #detalhes-da-entrega p {
        line-height: 30px;
    }
}