@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos Globais para garantir que a loja fique bonita no celular */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #f3f4f6; /* Um cinza bem clarinho de fundo */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Ajuste para evitar o zoom automático em inputs no iOS */
input, textarea {
  font-size: 16px !important;
}

/* Estilização suave para a barra de rolagem */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #ea580c; /* Laranja do Pão de Queijo */
  border-radius: 10px;
}